@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");

* {
  box-sizing: border-box;
  line-height: 1.5rem;
  font-family: Roboto;
}
body {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
